/*Authors: Hannah Thompson and Sarah Piekarski*/

/* override styles to navbar: background purple, set font family */
.navbar-expand-md{
  background-color: purple;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  top: 0;
}

/*change navbar links to be white*/
.navbar-dark .navbar-nav .nav-link{
  color: white;
}

/*if hover over link in nav bar will turn light grey*/
.navbar-dark .navbar-nav .nav-link:hover{
  color: lightgrey;
}

/*hovering over links turns them purple*/
a:hover{
  color: purple;
}

/*add border an padding for curriculum elements*/
.col-md-12{
  padding-top: 10px;
  border-bottom: solid 1px black;
}

/*set font family for site*/
body{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/*set font size for curriculum elements*/
.curriculum{
  font-size: 20px;
}

/*This link to image is not working*/
.jumbotron {
  background-image: url("/self-defense-jumbotron.jpg");
  background-size: cover;
}

/*set font color to purple in jumbotron*/
#jumbo-words{
  color: purple;
}

/*used to center material*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-wide {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 25px;
}

.main {
  padding-top: 125px;
}

.form-center {
  width: 75%;
  padding-top: 140px;
}

/*testimonial writing attributes*/
#write-testimonial{
  float: right;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 2px;
}

#testimonial {
  resize: horizontal;
}

.error{
  color: red;
  font-style: italic;
  font-size: medium;
}

/*add padding to col-md-4*/
.col-md-4{
  margin-top: 10px;
}

/*for mobile screens, resize video elements*/
@media only screen and (max-width: 600px){

  /*change video size*/
  #focusVideo{
    width: 300px;
    height:200px;
  }

  #focusVideoLabel{
    font-size: 20px;
  }

}

.edit-button{
  float: right;
  font-size: small;
  margin-right: 10px;
}

.delete-button{
  float: right;
  font-size: small;
  color: red;
}
