

/* NOTE: NEED TO ADD IN TWO THAT HAPPEN WITH AN ACTION (THINK: HOVER)*/

/* override styles to navbar */
.navbar-expand-md{
    background-color: purple;
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    top: 0;
}

/* Link */
/*having trouble changing link font color*/
.navbar-default .navbar-nav .nav-link{
    color: white;
}

.col-md-12{
    padding-top: 10px;
    border-bottom: solid 1px black;
}

body{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.curriculum{
    font-size: 20px;
}

/*This link to image is not working*/
.jumbotron {
    background-image: url("/self-defense-jumbotron.jpg");
    background-size: cover;
}

#jumbo-words{
    color: purple;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-wide {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 25px;
}

.main {
    padding-top: 125px;
}

.form-center {
    width: 75%;
    padding-top: 140px;
}

#write-testimonial{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: 2px;
}

#testimonial {
    resize: horizontal;
}

.error{
    color: red;
    font-style: italic;
    font-size: medium;
}

.col-md-4{
    margin-top: 10px;
}

/*for mobile screens*/
@media only screen and (max-width: 600px){

    /*change video size*/
    #focusVideo{
        width: 300px;
        height:200px;
    }

}