/* override styles to navbar */
.navbar-expand-md{
    background-color: purple;
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* Link */
/*having trouble changing link font color*/
.navbar-default .navbar-nav .nav-link{
    color: white;
}

